/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

#section-header,
#section-content
{
	background:#d3d3d3;
}

#zone-branding{
	background:url(../images/banner_overlay.png);
	height:175px;
}

#zone-menu{
	background:#334470;
}

#region-menu{
	margin:0;
}

.logo-img{
	margin-top:35px;
	margin-left:27px;
}

#zone-user,
#zone-branding,
#zone-postscript,
#zone-header,
#zone-preface,
#zone-content
{
	background-color:white;
}

#zone-content{
	margin-bottom:24px;
	padding-top:22px;
	padding-bottom:22px;
}

/* Footer styles */

#region-footer-first{
	margin:0px;
	width:960px;
}

/* node link style */
.node-links ul li a, .comment-links ul li a{
	text-transform: capitalize;
	display: inline;
	float: left;
	text-decoration: none;
	margin: 0;
	vertical-align: middle;
	background:none;
	border: none;
	cursor: pointer;
	color: #F77219;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size:13px;
	font-weight: normal;
	outline: 0;
	overflow: visible;
	letter-spacing: normal;
	padding: 0;
	text-shadow: none;
	width: auto;
}

.node-links ul li a:hover, .comment-links ul li a:hover{
	background:none;
}

select{
	border:1px #999999 solid;
}

input[type="submit"].form-submit{
	border-color:#9AA9B0;
	border-width:4px;
	text-transform:uppercase;
	color:white;
	font-weight: normal;
	text-shadow:none;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c62ab), to(#0e2142));
	background:-moz-linear-gradient(center top , rgb(76, 98, 171) 0%, rgb(14, 33, 66) 100%) repeat scroll 0% 0% transparent
}

/* Contact us page styles */
.webform-client-form{
	background:url(../images/corner_background.png)  #ececec no-repeat bottom right;
	padding:13px 0 13px 16px;
}

.webform-client-form label{
	font-weight:normal;
	width:210px;
	display: block;
	float:left;
	margin-right:130px;
}

.webform-client-form .form-item{
	height:38px;
}

.webform-client-form #webform-component-enquiry{
	height:168px;
}

.webform-client-form input,
.webform-client-form select,
.webform-client-form textarea
{
	width:227px;
	border:1px solid #999;
}

.webform-client-form input,
.webform-client-form select{
	height:32px;
}

.node-type-enquiry .group-right{
	width:629px;
	float:right;
}

.node-type-enquiry .grippie{
	display:none;
}

.node-type-enquiry .form-submit{
	float:right;
	width:auto;
	margin-right:47px;
	margin-top:-74px;
}

#block-block-3{
	background:#f9f9f9;
	width:300px;
}

.node-type-enquiry .container-12 .grid-9 {
	width: 629px;
	float: right;
}

.node-type-enquiry .field-name-body{
	background:#f9f9fa;
	padding:16px 16px;
	margin-bottom:11px;
}

.node-type-enquiry #page-title{
	display:block;
	background:#f9f9fa;
	text-transform: uppercase;
	font-size:25px;
	margin-bottom:0;
	padding:12px 16px 0px 16px;
}

/* Product range taxonomy menu */
.block-menu-menu-product-range li,
.block-menu-menu-product-range li.expanded,
.block-menu-menu-product-range li.leaf
{
	list-style:none;
	list-style-image: none;
	padding:0;
}

.block-menu-menu-product-range li a{
	height:89px;
	display:block;
	text-decoration: none;
	color:white;
	font-size: 18px;
	text-transform: uppercase;
	line-height: 20px;
	padding-top:26px;
	padding-left:17px;
	padding-right:13px;
}

.block-menu-menu-product-range li li a{
	width:auto;
	height:auto;
	display: block;
	font-size: 12px;
	color:#0E0E0E;
	text-transform:none;
	line-height:normal;
	margin:6px 0 6px 0;
	padding:5px 5px 5px 10px;
	background:#fafafa;
}

.block-menu-menu-product-range li li li a{
	background:none;
	display:inline;
	margin:0;
	padding:0;
}

.block-menu-menu-product-range ul{
	background:#f2f2f2;
	border-bottom: 0px solid #F2F2F2;
}

.block-menu-menu-product-range ul ul{
	border-bottom: 6px solid #F2F2F2;
}

.block-menu-menu-product-range ul ul ul{
	border-bottom: 0px solid #F2F2F2;
}

.block-menu-menu-product-range li{
	float: left;
	width:180px;
/* 	height:116px; */
	display:block;
	background:url(../images/product_range_background.png) no-repeat 0 0;
	margin-left:0px;
}

.block-menu-menu-product-range li + li{
	background:url(../images/product_range_background.png) no-repeat -181px 0;
}
.block-menu-menu-product-range li + li + li{
	background:url(../images/product_range_background.png) no-repeat -362px 0;
}
.block-menu-menu-product-range li + li + li + li{
	background:url(../images/product_range_background.png) no-repeat -543px 0;
}

.block-menu-menu-product-range li + li + li + li + li{
	background:url(../images/product_range_background.png) no-repeat -723px 0;
}

.block-menu-menu-product-range li li,
.block-menu-menu-product-range li li.expanded,
.block-menu-menu-product-range li li.leaf
{
	margin-left:0;
	float: none;

width:auto;
	height:auto;
	display:list;
	background:none;
}

.block-menu-menu-product-range li li li,
.block-menu-menu-product-range li li li.expanded,
.block-menu-menu-product-range li li li.leaf
{
	margin-left: 15px;
}

.block-menu-menu-product-range li li li li,
.block-menu-menu-product-range li li li li.expanded,
.block-menu-menu-product-range li li li li.leaf
{
	margin-left: 8px;
}


