.view-product-list .views-row{
	background:#f9f9f9;
	margin-bottom:10px;
	padding:22px 17px;
}

.view-product-list .views-field-title,
.view-product-list .views-field-body,
.view-product-list .views-field-view-node
{
	margin-left:148px;
}

.page-product-list #page-title{
	display:none;
}

.view-product-list .views-field-field-product-image{
	float:left;
	width: 132px;
	height: 116px;
}

.view-product-list .views-field-field-product-image img{
	width: 132px;
	height: 116px;
}

.view-product-list .views-field-title a{
	color:#333;
	text-decoration: none;
}

.view-product-list #page-title,
.node-type-product #page-title{
	display:none;
}

.node-type-product .group-right{
/* 
	background:#f9f9f9;
	width:394px;
	padding:38px;
 */
}

.node-type-product .container-12 .grid-8{
	background:white;
	/* padding:22px 17px 22px 17px; */
	padding:0;
	width:586px;
	margin-bottom:22px;
}

.node-type-product .field-name-field-applications,
.node-type-product .field-name-field-industries{
	background:#f9f9f9;
	width:240px;
	float:left;
	padding:14px 14px 14px 34px;   
	margin-left:0px;
}

.node-type-product .field-name-field-industries{
	
	margin-right:10px;
}

.node-type-product .field-name-field-product-download{
	background:#f9f9f9;
	padding:14px 14px 14px 34px; 
}

.node-type-product .field-name-field-product-download a{
	color:#0a1f4c;
	text-decoration: none;
	text-transform: uppercase;
}

.node-type-product .field-name-field-applications a,
.node-type-product .field-name-field-industries a{
	color:#333;
	text-decoration: none;
}

.node-type-product .field-group-div .field-name-field-product-industries{
	margin-left:8px;
}

.node-type-product .field-name-title h2{
	background:#ececec url(../images/orange-arrow.png) no-repeat 27px 16px;
	padding:5px 0px 5px 46px;
	margin-bottom:8px;
}

.field-name-field-event-date{
	float:right;
	color:white;
	width:70px;
	text-align: center;
	margin-top:-35px;
	margin-right:-38px;
	font-size:18px;
	line-height: 20px;
}

.field-name-field-event-date .date-month{
	text-transform: uppercase;
	font-size:24px;
	font-weight: bold;
}

.group-event-info{
	background:#f9f9f9;
	padding:16px 18px;
	margin-top:16px;
	width:422px;
}